<center>
	<h1>Welcome to the Great Number Game!</h1>
	<p>I am thinking of a number between 1 and 100</p>
	<p>Take a guess!</p>
	<div id="correctBox"><%= @num %> was the<br>number!
	<form action="/">
		<button type="submit">Play again!</button>
	</form>
	</div>
	You got the answer in <%= @tries %> tries
</center>
