<center>
	<h1>Welcome to the Great Number Game!</h1>
	<p>I am thinking of a number between 1 and 100</p>
	<p>Take a guess!</p>
	<div id="hiloBox">Too <%= @hilo %>!</div>
	<form method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="text" name="guess">
		<br>
		<button type="submit">Submit</button>
	</form>
</center>
